.carousel-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.recommendation-card {
  margin-right: 10px; /* Espaçamento entre os cards */
  width: 200px; /* Largura de cada card */
}
