
.carousel-container {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
}

.recommendation-card {
  width: 200px; /* Largura de cada card */
  margin-right: 10px; /* Espaçamento entre os cards */
}
